<div class="container-fluid">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Passenger List
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <app-my-table 
              [HeadArray]="headArray" 
              [GridArray]="passengerList"
              (onEdit)="editPassenger($event)" 
              (onDelete)="deletePassenger($event)">
            </app-my-table>
          </div>
        </div>
      </div>
    </div>
  </div>