<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <app-accordion [headerText]="'Ticket Details'" [accordionColor]="'bg-success'">
          <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-6">
                <div class="form-outline">
                  <label class="form-label" for="ticket_number">Ticket Number</label>
                  <input type="text" id="ticket_number" formControlName="ticket_number" class="form-control" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-outline">
                  <label class="form-label" for="flightNo">Flight No</label>
                  <input type="text" id="flightNo" formControlName="flightNo" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-outline">
                  <label class="form-label" for="passengerId">Passenger ID</label>
                  <input type="text" id="passengerId" formControlName="passengerId" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-4 text-center">
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
              </div>
              <div class="col-4 text-center">
                <button type="button" class="btn btn-warning" (click)="onReset()">Reset</button>
              </div>
              <div class="col-4 text-center">
                <button type="submit" class="btn btn-success" [disabled]="!ticketForm.valid">Save</button>
              </div>
            </div>
          </form>
        </app-accordion>
      </div>
    </div>
  </div>